/* Reset */

* {
    font-family: 'Larsseit', sans-serif;
}

ul, ol {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    display: inline-block !important;
    text-decoration: none !important;
}

/* Typography */

@font-face {
    font-family: 'Larsseit';
    src: url('Fonts/Larsseit/Larsseit.eot');
    src: url('Fonts/Larsseit/Larsseit.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Larsseit/Larsseit.woff') format('woff'),
        url('Fonts/Larsseit/Larsseit.ttf') format('truetype'),
        url('Fonts/Larsseit/Larsseit.svg#Larsseit') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Background Color */

#fluid-1 {
    background-color: #F4F9E2;
    background-image: url('../img/bg-img.svg');
    background-repeat: no-repeat;
    background-position: top right;  
    background-size: auto;
    padding-bottom: 75px;
}

#fluid-2 {
    background-color: #62D0DF;
    background-image: url('../img/why-img.svg');
    background-repeat: no-repeat;
    background-position: right;  
    background-size: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ECF1F4;
}

::-webkit-scrollbar-thumb {
    background: #62D0DF;
}