/* Reset */

* {
    font-family: 'Larsseit', sans-serif;
}

a {
    display: inline-block !important;
    text-decoration: none !important;
}

/* Typography */

@font-face {
    font-family: 'Larsseit';
    src: url('Fonts/Larsseit/Larsseit.eot');
    src: url('Fonts/Larsseit/Larsseit.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Larsseit/Larsseit.woff') format('woff'),
        url('Fonts/Larsseit/Larsseit.ttf') format('truetype'),
        url('Fonts/Larsseit/Larsseit.svg#Larsseit') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Background Color */

#fluid-1 {
    background-color: #F4F9E2;
    background-image: url('../img/hero-img.svg'), url('../img/bg-img.svg');
    background-repeat: no-repeat;
    background-position: top right;  
    background-size: auto;
    padding-bottom: 75px;
}

#fluid-2 {
    background-color: #62D0DF;
}

#fluid-3 {
    background-color: #E5E5E5;
}

#fluid-4 {
    background-color: #E5E5E5;
}

#fluid-5 {
    background-color: #E5E5E5;
    margin-top: -40px;
}

#fluid-6 {
    background-color: #E5E5E5;
    background-image: url('../img/mdd-img.svg');
    background-repeat: no-repeat;
    background-position: left;  
    background-size: contain;
}

#fluid-7 {
    background-color: #22356F;
}

#fluid-8 {
    background-color: #E5E5E5;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ECF1F4;
}

::-webkit-scrollbar-thumb {
    background: #62D0DF;
}